{% extends "base.html" %}

{% block content %}
<main>
  <!-- Post List -->
  <div class="post-list">

    {% for post in object_list %}
    <!-- Post -->
    <div class="post">
      <div class="user-detail">
        <img class="rounded-circle" src="assets/images/parn.jpg" />
        <span><b>{{post.user}}</b></span>
      </div>
      <img src="{{post.image.url}}">
      <div class="like-by">
        <a href="#"><i class="far fa-heart fa-2x"></i></a>
        <a href="#"><i class="far fa-comment fa-2x"></i></a>
      </div>
      <!-- <div class="like-counter">
        <span><b>ถูกใจ 35 คน</b></span>
      </div> -->
      <div class="description">{{post.text}}</div>
      <!-- <div class="comments">
        <span><b>parnpresso</b> Hello!</span>
      </div> -->
      <div class="comment-box">
        <form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="เพิ่มความคิดเห็น">
            <div class="input-group-append">
              <button type="submit">โพสต์</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Post -->
    {% endfor %}
    
  </div>
  <!-- Post List -->
</main>
{% endblock content %}